@model ShopifyMVCAPI.Models.SubCategory

<h4 style="text-align:center;">Add a new SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="subCategoryName" class="control-label"></label>
                <input asp-for="subCategoryName" class="form-control" />
                <span asp-validation-for="subCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <input asp-for="categoryId" class="form-control" />
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add New Sub Category" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    @* <a asp-action="getSubCategories" asp-route-id="@Model.subCategoryId">Back to SubCategories</a> *@
</div>

